body{
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #0C0F14;
	}
h3{
    color: antiquewhite;
}
h4{
      color: antiquewhite;
}
<img src="..." class="img-fluid" alt="...">